// Variables Cyber-Tech
$color-deep-space: #05070a; 
$color-surface: #0d1117; 
$color-surface-elevated: #161b22;
$color-border-tech: #30363d;

// Acentos (Adiós dorado)
$color-neon-red: #ff3e3e; 
$color-matrix-green: #00ff41; // Puro estilo terminal
$color-text-high: #c9d1d9;
$color-text-dim: #8b949e;
$color-text-bright: #ffffff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: $color-deep-space;
  color: $color-text-high;
  overflow-x: hidden;
  line-height: 1.6;
}


code, .learn-more, .logo, .p-h2-me-section {
  font-family: 'Fira Code', monospace;
}

.Nav-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8%;
  background-color: rgba($color-surface, 0.8);
  backdrop-filter: blur(12px);
  border-bottom: 2px solid $color-border-tech;

  .menu-toggle {
    display: none; 
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;

    .bar {
      width: 25px;
      height: 2px;
      background-color: $color-matrix-green;
      box-shadow: 0 0 5px $color-matrix-green;
      transition: 0.3s;
    }
  }

  
  @media (max-width: 768px) {
    padding: 15px 5%;

    .menu-toggle {
      display: flex;
    }

    .nav-items {
      display: none; 
      flex-direction: column;
      position: fixed;
      top: 0;
      right: -100%; 
      width: 70%;
      height: 100vh;
      background-color: rgba($color-surface, 0.95);
      backdrop-filter: blur(20px);
      border-left: 2px solid $color-matrix-green;
      padding: 100px 40px;
      transition: 0.4s ease-in-out;
      gap: 3rem;

      &.is-active {
        display: flex; 
        right: 0; 
        box-shadow: -10px 0 20px rgba(0, 0, 0, 0.5);
      }

      li a {
        font-size: 1.2rem;
        font-family: 'Courier New', Courier, monospace; // Estilo consola
      }
    }
  }
}


.menu-toggle.is-active {
  .bar:nth-child(1) { transform: translateY(7px) rotate(45deg); }
  .bar:nth-child(2) { opacity: 0; }
  .bar:nth-child(3) { transform: translateY(-7px) rotate(-45deg); }
}